.header {
	background-color: #fafafa;
	height: 100vh;
	position: relative;
}

.text-center {
	text-align: center;
}

.header-bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	text-align: center;
	padding-bottom: 30px;
}

.scroll-arrow {
	width: 30px;
}

.img-fun {
	animation: move 11s ease;
	-webkit-animation: move 11s ease;
	/*transition: position 10s linear;
	bottom: 100px;*/
}

@keyframes move{
	from { bottom: 0;}
	to {bottom: 200px;}
}

@-webkit-keyframes move{
	from { bottom: 0;}
	to {bottom: 200px;}
}